<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permission to make phone calls -->
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Final"
        tools:targetApi="31">

        <!-- Welcome Activity -->
        <activity
            android:name="afinal.afinal.WelcomeActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Final.NoActionBar"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Main Activity -->
        <activity
            android:name="afinal.afinal.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Final.NoActionBar" />

        <!-- Booking Activity -->
        <activity
            android:name="afinal.afinal.BookingActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Final.NoActionBar" />

        <!-- Booking Form Activity -->
        <activity
            android:name="afinal.afinal.BookingFormActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Final.NoActionBar" />

        <!-- Pay Activity -->
        <!-- Add the PayActivity if you have it -->
        <!-- <activity android:name="afinal.afinal.PayActivity" /> -->

    </application>

</manifest>
